<% provide(:title, "Home") %>
<h1>Welcome to my website</h1>
<p>Find me in app/views/welcome/index.html.erb</p><br><br>
<p>Go here for the <%= link_to 'Show All People', people_path %></p>
<p>Go here for the <%= link_to 'Add New Person', new_person_path %></p>
<p>Go here for the <%= link_to 'About Page', about_path %></p>
